.App {
  text-align: center;
  background-color: #FF0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container {
  margin-top: 10px;
  width: 80%;
  max-width: 450px;
  min-height: 400px;
  height: 75%;
  max-height: 900px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #CC0000;
  border-radius: 10px;
  border-style: none;
}
.cardImage {
  max-width: 95%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.bodyText {
  color: black;
  text-align: left;
  margin: 10px;
  font-size:medium ;
}

.pokemonInput {
  background-color: #B3A125;
  border-radius: 3px;
  border-style: none;
}

.title {
  color: #FFDE00;
}

.display{
  font-size: 200%;
  color: #2892D7;
}
button {
  margin: 2px;
  border-radius: 10px;
  min-width: 40px;
  min-height: 40px;
  border-style: hidden;
  background-color:#6DAEDB;
}
